jupyterlab==3.6.3
matplotlib==3.7.1
numpy==1.26.4
pandas==2.0.1
seaborn==0.11.2
scikit-learn==1.2.2
statsmodels==0.14.0
pytest==7.4.0
testbook==0.4.2
mlflow==2.21.2
parsenvy==3.0.2
black==23.3.0
protobuf==4.23.3

Flask==2.3.3
flask-cors==5.0.1
ruff==0.11.2

transformers==4.50.3
sentencepiece==0.2.0  # for DeBERTa-v3 tokenizer
pyarrow==15.0.0
tf_keras==2.19.0
accelerate==1.5.2


nltk==3.9.1 # preprocess text for basic models

#for zero shot with API
python-dotenv==1.0.1
langchain-community==0.3.2
langchain-openai==0.2.3
langchain-huggingface==0.1.0
langchain-groq==0.2.0
langchainhub==0.1.21