numpy==1.26.4
pandas==2.0.1
seaborn==0.11.2 # seaborn==0.13.2 necessary for EDA
statsmodels==0.14.0
pytest==7.4.0
testbook==0.4.2
parsenvy==3.0.2
black==23.3.0
protobuf==4.23.3
imbalanced-learn==0.13.0 # for oversampling of the svm

Flask==2.3.3
flask-cors==5.0.1
ruff==0.11.2

transformers==4.50.3
sentencepiece==0.2.0  # for DeBERTa-v3 tokenizer
pyarrow==15.0.0

torch==2.2.2
torchaudio==2.2.2
torchvision==0.17.2
tf_keras==2.19.0
accelerate==1.5.2
huggingface_hub



nltk==3.9.1 # preprocess text for basic models

#for langchain
python-dotenv==1.0.1
langchain-community==0.3.2
langchain-openai==0.2.3
langchain-huggingface==0.1.0
langchain-groq==0.2.0
langchainhub==0.1.21
langchain==0.3.22
langchain-core==0.3.49
langchain-ollama==0.3.0
langchain-text-splitters==0.3.7

